absl-py==0.8.0
astor==0.8.0
attrs==19.2.0
certifi==2019.9.11
chardet==3.0.4
cloudpickle==1.1.1
cycler==0.10.0
decorator==4.4.0
dill==0.3.1.1
future==0.17.1
gast==0.2.2
google-pasta==0.1.7
googleapis-common-protos==1.6.0
grpcio==1.24.1
h5py==2.10.0
idna==2.8
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
numpy==1.17.2
opt-einsum==3.1.0
params-flow==0.7.0
Pillow==8.1.1
promise==2.2.1
protobuf==3.10.0
psutil==5.6.6
py-params==0.6.4
pyparsing==2.4.2
python-dateutil==2.8.0
PyYAML==5.4
requests==2.22.0
scipy==1.3.1
six==1.12.0
tensorboard==2.0.0
tensorflow-datasets==1.2.0
tensorflow-estimator==2.0.0
tensorflow-gpu==2.4.0
tensorflow-metadata==0.14.0
tensorflow-probability==0.8.0
termcolor==1.1.0
tqdm==4.36.1
urllib3==1.26.5
Werkzeug==0.16.0
wrapt==1.11.2
